<fieldset #priceFieldset [formGroup]="group" class="non-material-fieldset" [ngClass]="fieldError ? errorClass : noErrorsClass">
  <legend [ngClass]="fieldError ? errorClass: noErrorsClass">Price *</legend>

  <div class="grid">
    <mat-radio-group [formControlName]="config.name" class="buyandsell-radio-group" (change)="handleChange($event)" required>
      <mat-radio-button *ngFor="let option of radioOptions | async; let i = index"
                        [value]="option.value"
      >
        {{option.text}}
      </mat-radio-button>
    </mat-radio-group>
  <app-price-input (fieldError)="setFieldError($event)"
                   (price)="handlePriceEmission($event)">
  </app-price-input>
  </div>
</fieldset>
