<div [formGroup]="group">
  <mat-form-field [hintLabel]="config?.hints?.message || ''" [hideRequiredMarker]="!config.constraints!.required">
    <mat-label>{{config.label}}</mat-label>
    <!-- INJECT control here  | With ng-content & templateRef?-->
    <textarea #inputEl
              matInput
              required
              [formControlName]="config.name"
              [customInput]="config"
    ></textarea>
    <mat-hint *ngIf="config.hints" [align]="config.hints.alignment">{{inputEl.value.length || 0}} / {{config?.constraints?.maxLength}}</mat-hint>
    <mat-error formControlError
               [control]="control"
               [controlConfiguration]="config"
               (errMsg)="buildErrorMessage($event)">{{err}}</mat-error>
  </mat-form-field>
</div >

