<div *ngIf="config.usesMatFormField" [formGroup]="group">
  <mat-form-field [hintLabel]="config?.hints?.message || ''">
    <mat-label>{{config.label}}</mat-label>
    <input #inputEl
           matInput
           [formControlName]="config.name"
           [customInput]="config"
    >
<!--           [required]="config?.constraints?.required || false"-->
    <mat-hint *ngIf="config.hints" [align]="config.hints.alignment">{{inputEl.value.length || 0}} / {{config?.constraints?.maxLength}}</mat-hint>
    <mat-error formControlError [control]="control" (errMsg)="buildErrorMessage($event)">{{err}}</mat-error>
  </mat-form-field>
  {{control.errors | json}}
  {{control.touched}}
</div>
